<h2 class="contenedor-h2 izquierda">Partidos:</h2>
<div id="borde-fechas">
    <div id="contenedor-fechas">
        <div class="botonera">
            <button  class="boton-fechas izquierda" onclick="pasarDeporte(-1)">&#10094;</button> 
            <div id="contenedor-deporte"><span id="deporte"></span></div>
            <button  class="boton-fechas derecha" onclick="pasarDeporte(1)">&#10095;</button>
        </div>
        <div class="botonera">
            <button class="boton-fechas izquierda" onclick="pasarCategoria(-1)">&#10094;</button>
            <div id="contenedor-categoria"><span id="categoria"></span></div>
            <button class="boton-fechas derecha" onclick="pasarCategoria(1)">&#10095;</button>
        </div>
        <div id="contenedor-info">
        
            <div id="fase" class="estilo-fase"></div>
        
            <div id="equipoA" ></div>
            <div id="vs">Vs</div>
            <div id="equipoB"></div>
            
            <div id="condicion" class="contenedores-chicos"></div>    
        
            <div id="fecha" class="contenedores-chicos"></div>
            
            <div id="horario" class="contenedores-chicos" ></div>
        </div>
    </div>
</div>