<div id="footer">
    <div id="info-footer">
        <div id="direccion">
            <h3>Dirección</h3>
            <p>Dr Delfor Díaz 1846</p>
            <p>Bs.As | República Argentina</p>
        </div>
        <div id="contacto">
            <h3>Contactos</h3>
            <p>Tel/Fax: 011 4438-3938</p>
            <p>E-mail: defensores.hurlingham@gmail.com</p>
        </div>
        <div id="atencion">
            <h3>Horario de atención</h3>
            <p>Lunes a Viernes de 8:00 a 22:00</p>
            <p>Sabados de 9:00 a 13:00</p>
        </div>
    </div>
    
    <div id="derechos" class="textogris">Copyright 2018 CLUB DEPORTIVO DEFENSORES DE HURLINGHAM | Desarrollo por Santiago Izzo</div>

</div>