<div id="nav">
                        <ul id="lista-nav">
                            <li><a href="/">Home</a></li>
                            <li><a class="sin-link">Club</a>
                                <ul class="lista-secundaria">
                                    <li><a href="/comision-directiva">Comisión Directiva</a></li>
                                    <li><a href="/aranceles">Cuota Social y Tarifas</a></li>
                                    <li><a href="/historia">Historia</a></li>
                                    <li><a href="/contacto">Contacto</a></li>
                                </ul>
                            </li>
                            <li><a href="/deportes">Actividades</a>
                                {{!-- <ul class="lista-secundaria">
                                    <li><a href="/deportes/basquet">Basquet</a></li>
                                    <li><a href="/voley">Voley</a></li>
                                    <li><a href="/futsal">Contacto</a></li>
                                    <li><a href="/futbol">Fútbol</a></li>
                                    <li><a href="/futsal">Futsal</a></li>
                                    <li><a href="/pelota-paleta">Pelota Paleta</a></li>
                                    <li><a href="/patin.html">Patin</a></li>
                                    <li><a href="/taekwondo">Taekwondo</a></li>
                                </ul> --}}
                            </li>
                            {{!-- <li><a href="/actividades">Actividades</a>
                                <ul class="lista-secundaria">
                                    <li><a href="/regaeton">Regaeton</a></li>
                                    <li><a href="/zumba">Zumba</a></li>
                                    <li><a href="/gap">G.A.P</a></li>
                                    <li><a href="/hip-hop">Hip Hop</a></li>
                                    <li><a href="/telas">Telas</a></li>
                                    <li><a href="/folklore">Folklore</a></li>
                                </ul>
                            </li> --}}
                            <li><a href="/eventos">Eventos</a></li>
                            <li><a href="/institucional">Institucional</a></li>
                            <li><a class="sin-link">Alquileres</a>
                                <ul class="lista-secundaria">
                                    <li><a href="/alquiler-salon">Salon de Fiestas</a></li>
                                    <li><a href="/alquiler-cancha">Cancha de Fútbol</a></li>  
                                </ul>
                            </li>
                            <li><a href="/como-llegar">Como llegar</a></li>
                            <div id="contenedor-redes-nav" class="desaparece">
                                    <a href=""><img src="img/img-redes/img-facebookcolor.png" alt="Facebook"></a>
                                    <a href=""><img src="img/img-redes/img-twittercolor.png" alt="Twitter"></a>
                                    <a href=""><img src="img/img-redes/img-instagramcolor.png" alt="Instagram"></a>
                                    <a href=""><img src="img/img-redes/img-youtubecolor.png" alt="Youtube"></a>
                            </div>
                        </ul>
                </div>