<div id="trasportes">
<h3>Trenes</h3>
                            <p>Linea San Martin: Estacion de Hurlingham</p>
                            <p>Linea Urquiza: Ejército de los Andes, Ruben Dario</p>
                            <br/>
                            <h3>Colectivos</h3>
                            <p>Sobre Av. Roca: 244, 390, 463, 464</p>
                            <p>Sobre Av. Vergara: 182 Rosales, 182 Marconi, 53, 53 Rapido</p>
                            <p>Sobre Amoroso: 463 Ramal 3</p>
</div>