<h1 class="titulo-principal-main">Salon de Fiestas</h1> 
                    <div id="descripcion">
                        <p id="presentacion">
                            Tenemos un salón cerrado y cubierto, con mesas y sillas, parrilla, cocina anexa con heladera con frezeer, vestuario, 2 baños, cachita de futbol.
                            Estamos en Dr. Delfor Diaz 1846 a 5 cuadras del centro de Hurlingham, muy facil acceso, a 1 cuadra de Av. Vergara y Av. Julio Roca.</br>
                            Tenemos como opcional:
                        </p>
                        <ul id="lista-opcionales">
                                <li>Catering para adultos y niños</li>
                                <li>Metegol</li>
                                <li>Proyector</li>
                                <li>Karaoke</li>
                                <li>Castillo inflable</li>
                                <li>Cama elástica</li>
                                <li>Maquillaje</li>
                                <li>Mágia</li>
                                <li>Títeres</li>
                                <li>Musicalización</li>
                                <li>Ambientación</li>
                        </ul>
                    </div>
                    <div id="info-contacto" >
                            <h3>Tel/Fax</h3>
                            <p>4438-3938</p>
                            <h3>E-mail</h3>
                            <p>defensores.hurlingham@gmail.com</p>
                    </div>
                    <br/>
                    <div id="slider">
                            
                            <img class="slide" src="img/img-salon/img-salon1.jpg"/>
                            <img class="slide" src="img/img-salon/img-salon2.jpg"/>
                            <img class="slide" src="img/img-salon/img-salon3.jpg"/>
                            <img class="slide" src="img/img-salon/img-salon4.jpg"/>
                            
                            <div id="contenedor-botones-aside">
                                    <button id="boton-slider-izquierda" class="boton-slider" onclick="pasarDiv(-1)">&#10094;</button>
                                    <button id="boton-slider-derecha" class="boton-slider" onclick="pasarDiv(+1)">&#10095;</button>
                            </div>
                    </div>

                    


