<h1 class="titulo-principal-main">Cancha de Fútbol</h1> 
                    <div id="descripcion">
                        <ul id="lista-opcionales">
                                <li>Complejo de canchas fútbol 5/7 Sintético de caucho de alta tecnología. </li>
                                <li>Alquiler y torneos de fútbol.</li>
                                <li>Vestuarios </li>
                                <li>Buffet</li>
                        </ul>
                    </div>
                    
                     <div id="info-contacto" >
                            <h3>Tel/Fax</h3>
                            <p>4438-3938</p>
                            
                            <h3>E-mail</h3>
                            <p>defensores.hurlingham@gmail.com</p>
                    </div>
                    <br/>
                    <div id="slider">
                            
                            <img class="slide" src="img/img-cancha/img-cancha1.jpg"/>
                            <img class="slide" src="img/img-cancha/img-cancha2.jpg"/>
                            <img class="slide" src="img/img-cancha/img-cancha3.jpg"/>
                            <img class="slide" src="img/img-cancha/img-cancha4.jpg"/>
                            
                            <div id="contenedor-botones-aside">
                                    <button id="boton-slider-izquierda" class="boton-slider" onclick="pasarDiv(-1)">&#10094;</button>
                                    <button id="boton-slider-derecha" class="boton-slider" onclick="pasarDiv(+1)">&#10095;</button>
                            </div>
                    </div>
                   

