<h1 class="titulo-principal-main">Comición Directiva</h1>
                    <h2 id="presidente">Presidente</h2>
                    <h3>Oscar Julio Ramirez</h3> 

                    <h2 class="vicepresidente">Vicepresidente °1</h2>
                    <h3> Mario Pontelo</h3>

                    <h2 class="vicepresidente">Vicepresidente °2</h2>
                    <h3>Maria Gonzales</h3>

                    <h2>Secretario General</h2>
                    <h3>Ruben Magniano</h3>

                    <h2>Secretario Deportivo</h2>
                    <h3>Carlos Villarruel</h3>

                    <h2>Tesorero</h2>
                    <h3>Sabrina Espinoza</h3>

                    <h2>Secretario de Actas</h2>
                    <h3>Romina Martinez</h3>

                    <h2>Vocales Titulares</h2>
                    <h3>Catriel Espinoza</h3>
                    <h3>Juan Ignacio Anzalone</h3>
                    <h3>Matias Pisano</h3>
                    <h3>Martin Cabrera</h3>
                    <h3>Marcelo Giunta</h3>
                    <h3>Gonzalo Giunta</h3>

                    <h2>Vocales Suplentes</h2>
                    <h3>Nicolas Aguirre</h3>
                    <h3>Julio del Rio</h3>
                    <h3>Nicolas Aguirre</h3>
                    <h3>Inés Martinez</h3>
                    <h3>Pedro Rico Martin</h3>
                    <h3>Luiz Gomez</h3>
                    <h3>Luciano Marino</h3>

                    <h2>Revisores de Cuentas Titulares</h2>
                    <h3>Raul Gallardo</h3>
                    <h3>Clara Rodriguez</h3>
                    <h3>Valentina Ruiz</h3>

                    <h2>Revisores de Cuentas Suplentes</h2>
                    <h3>Carlos Alberto Rodriguez</h3>
                    <h3>Luiz Tomas Gomez</h3>