<h1 class="titulo-principal-main">Contacto</h1>
                    <div id="info-contacto" >
                            <h2>Tel/Fax</h2>
                            <h3>4438-3938</h3>
                            <h2>E-mail</h2>
                            <h3>defensores.hurlingham@gmail.com</h3>
                    </div>
<form id="formulario-contacto" class="contacto" action="/contacto" method="POST">
                        <div>
                            <input id="nombre" type="text" name="nombre" placeholder="Nombre"/>
                        </div>
                        <div>
                            <input id="telefono" type="text" name="telefono" placeholder="Telefono"/>
                        </div>
                        <div>
                            <input id="email" type="email" name="email"  placeholder="E-mail"/>
                        </div>
                        <div>
                            <input id="asunto" type="text" name="asunto"  placeholder="Asunto"/>
                        </div>
                        <div>
                            <textarea id="mensaje" name="mensaje" rows="15"  placeholder="Mensaje"></textarea>
                        </div>
                        <div>
                            <input type="submit" name="submit" value="Enviar"/>
                        </div>
</form>