<h1 class="titulo-principal-main">Actividades</h1>
<div id="contenedor-deportes">
                                    {{!-- <li><a href="/voley">Voley</a></li>
                                    <li><a href="/futsal">Contacto</a></li>
                                    <li><a href="/futbol">Fútbol</a></li>
                                    <li><a href="/futsal">Futsal</a></li>
                                    <li><a href="/pelota-paleta">Pelota Paleta</a></li>
                                    <li><a href="/patin.html">Patin</a></li>
                                    <li><a href="/taekwondo">Taekwondo</a></li> --}}
    <table id="cuota-social" class="tabla">
                       
                    <table id="basquet" class="tabla">
                        <tr>
                            <td class="cabezera" colspan="5">Basquet</td>
                        </tr>
                        <tr> <td class="color-oscuro">Mini-Basquet(6-12)</td><td class="color-claro">Lunes Miercoles y Viernes</td> <td class="color-claro">17:30 a 18:30</td></tr>
                        <tr> <td class="color-claro">Inferiores(13-18)</td><td class="color-claro">Lunes Miercoles y Viernes</td> <td class="color-claro">18:30 a 21:30</td> </tr>
                        <tr> <td class="color-oscuro">Primera(+18)</td> <td class="color-claro">Lunes Miercoles y Viernes</td> <td class="color-claro">21:30 a 23:00</td> </tr>
                        <tr><td class="color-claro">Escuelita(4-10)</td> <td class="color-claro">Sabados</td> <td class="color-claro">10:30 a 11:30</td>  </tr>
                        
                    </table>

                    <table id="voley" class="tabla">
                            <tr>
                                <td class="cabezera" colspan="5">Voley</td>
                            </tr>
                            <tr>
                                <td class="color-oscuro">Menores de 10 años</td><td class="color-claro">Martes y Jueves</td><td class="color-claro">17:30 a 18:30</td>
                            </tr>
                            <tr>
                                <td class="color-oscuro">Meyores de 10 años</td><td class="color-claro">Martes y Jueves</td><td class="color-claro">18:30 a 23:00</td>
                            </tr>
                    </table>
                    
                    <table 
                   id="reggaeton" class="tabla">
                        <tr>
                            <td class="cabezera" colspan="11">Reggaeton</td>
                        </tr>
                        <tr> <td class="color-oscuro">Reggaeton Infantil A</td><td class="color-claro">Martes y Jueves</td> <td class="color-claro">17:30 a 18:30</td></tr>
                        <tr> <td class="color-oscuro">Reggaeton Infantil B</td><td class="color-claro">Lunes y Miercoles</td> <td class="color-claro">17:30 a 18:30</td> </tr>
                        <tr> <td class="color-oscuro">Reggaeton Juvenil A</td> <td class="color-claro">Martes y Jueves</td> <td class="color-claro">18:30 a 21:00</td> </tr>
                        <tr><td class="color-oscuro">Reggaeton Juvenil B</td> <td class="color-claro">Lunes y Miercoles</td> <td class="color-claro">18:30 a 21:00</td>  </tr>
                        <tr> <td class="color-oscuro">Reggaeton Adultos Competencia</td> <td class="color-claro">Martes y Viernes</td> <td class="color-claro">20:30 a 21:30</td> </tr>
                        <tr><td class="color-claro">Reggaeton Libre Twerk</td> <td class="color-claro">Lunes y Miercoles</td> <td class="color-claro">20:30 a 21:30</td>  </tr>
                        
                    </table>

                    <table id="hip-hop" class="tabla">
                        <tr>
                            <td class="cabezera" colspan="11">Hip Hop</td>
                        </tr>
                        <tr> <td class="color-oscuro">Hip Hop y Break Dance Infantil</td> <td class="color-claro">Martes y Viernes</td> <td class="color-claro">18:30 a 20:30</td> </tr>
                        <tr><td class="color-oscuro">Hip Hop Juvenil</td> <td class="color-claro">Martes y Viernes</td> <td class="color-claro">20:30 a 21:30</td>  </tr>
                        
                    </table>

                    <table id="zumba" class="tabla">
                        <tr>
                            <td class="cabezera" colspan="11">Zumba</td>
                        </tr>
                        <tr> <td class="color-oscuro">Zumba Kids</td> <td class="color-claro">Lunes y Miercoles</td> <td class="color-claro">18:30 a 20:30</td> </tr>
                        <tr><td class="color-oscuro">Zumba</td> <td class="color-claro">Lunes y Miercoles</td> <td class="color-claro">20:30 a 21:30</td>  </tr>
                    </table>

                    <table id="gap" class="tabla">
                            <tr>
                                <td class="cabezera" colspan="11">G.A.P</td>
                            </tr>
                            <tr> <td class="color-oscuro">2 horas</td> <td class="color-claro">Martes y Viernes</td> <td class="color-claro">18:30 a 20:30</td> </tr>
                        <tr><td class="color-oscuro">+2 horas</td> <td class="color-claro">Martes y Viernes</td> <td class="color-claro">20:30 a 22:30</td>  </tr>
                        
                    </table>

                    <table id="taekwondo" class="tabla">
                            <tr>
                                <td class="cabezera" colspan="11">Taekwondo</td>
                            </tr>
                             <tr> <td class="color-oscuro">Todas las edades</td><td class="color-claro">Lunes Miercoles y Viernes</td> <td class="color-claro">18:00 a 22:00</td></tr>
                    </table>

                    <table id="telas" class="tabla">
                            <tr>
                                <td class="cabezera" colspan="11">Telas</td>
                            </tr>
                            <tr> <td class="color-oscuro">Menores de 10</td><td class="color-claro">Lunes</td> <td class="color-claro">18:30 a 20:30</td></tr>
                            <tr> <td class="color-oscuro">Meyores de 10</td><td class="color-claro">Lunes</td> <td class="color-claro">20:30 a 22:30</td></tr>
                            
                    </table>
    
    

</div>